## Movie Reviews

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('ch02/movielens/users.dat', sep='::', header=None, names=unames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ch02/movielens/ratings.dat', sep='::', header=None, names=rnames, engine='python')

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('ch02/movielens/movies.dat', sep='::', header=None, names=mnames, engine='python')

# Merge the three tables.
data = pd.merge(pd.merge(ratings, users), movies)
data.ix[0]

# Mean movie rating, grouped by gender.
mean_ratings = data.pivot_table('rating', index = 'title', columns ='gender', aggfunc = 'mean')

#Select only movies with more than 250 reviews.
ratings_by_title = data.groupby('title').size()
active_titles = ratings_by_title.index[ratings_by_title >= 250]
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

#Top Rated Films by Women
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False)
top_female_ratings[:10]

#Difference in ratings between men and women
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
sorted_by_diff = mean_ratings.sort_values(by='diff')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:17: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:25: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### Preferred by Women

In [12]:
#Preferred by women
female_pref = sorted_by_diff[:15]
female_pref

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536

### Preferred by Men

In [13]:
#Prefered by men
male_pref = sorted_by_diff[::-1][:15]
male_pref

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020

### Most Disagreement

In [14]:
rating_std_by_title = data.groupby('title')['rating'].std()
rating_std_by_title = rating_std_by_title.ix[active_titles]
rating_std_by_title.sort_values(ascending=False)[:10]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

## Baby Names

In [15]:
import pandas as pd
import matplotlib as plt
names1880 = pd.read_csv('ch02/names/yob1880.txt', names=['name', 'sex', 'births'])

# Combine files it single DataFrame
years = range(1880,2011)
pieces = []
columns = ['names', 'sex', 'births']
for year in years:
    path = 'ch02/names/yob%d.txt' %year
    frame = pd.read_csv(path, names=columns)
    frame['year'] = year
    pieces.append(frame)

names = pd.concat(pieces, ignore_index=True)

### Total Births by Year and Gender

In [17]:
import matplotlib as plt
%matplotlib inline
total_births = names.pivot_table('births', columns='sex', index='year', aggfunc=sum)
total_births.plot(title='Total Births by Year and Gender')

ImportError: matplotlib is required for plotting.

### Add in Proportion

In [18]:
def add_prop(group):
    births=group.births.astype(float)
    
    group['prop'] = births/births.sum()
    return group
names = names.groupby(['year', 'sex']).apply(add_prop)

In [19]:
names

             names sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
4           Minnie   F    1746  1880  0.019188
5         Margaret   F    1578  1880  0.017342
6              Ida   F    1472  1880  0.016177
7            Alice   F    1414  1880  0.015540
8           Bertha   F    1320  1880  0.014507
9            Sarah   F    1288  1880  0.014155
10           Annie   F    1258  1880  0.013825
11           Clara   F    1226  1880  0.013474
12            Ella   F    1156  1880  0.012704
13        Florence   F    1063  1880  0.011682
14            Cora   F    1045  1880  0.011484
15          Martha   F    1040  1880  0.011429
16           Laura   F    1012  1880  0.011122
17          Nellie   F     995  1880  0.010935
18           Grace   F     982  1880  0.010792
19          Carrie   F     949  1880  0.010429
20           Maude   F     858  1880  0.009429
21           Mabel   F     808  1880  0.008880
22          Bessie   F     794  1880  0.008726
23          Jennie   F     793  1880  0.008715
24        Gertrude   F     787  1880  0.008649
25           Julia   F     783  1880  0.008605
26          Hattie   F     769  1880  0.008451
27           Edith   F     768  1880  0.008440
28          Mattie   F     704  1880  0.007737
29            Rose   F     700  1880  0.007693
...            ...  ..     ...   ...       ...
1690754    Zaviyon   M       5  2010  0.000003
1690755   Zaybrien   M       5  2010  0.000003
1690756   Zayshawn   M       5  2010  0.000003
1690757     Zayyan   M       5  2010  0.000003
1690758       Zeal   M       5  2010  0.000003
1690759     Zealan   M       5  2010  0.000003
1690760   Zecharia   M       5  2010  0.000003
1690761   Zeferino   M       5  2010  0.000003
1690762   Zekariah   M       5  2010  0.000003
1690763       Zeki   M       5  2010  0.000003
1690764     Zeriah   M       5  2010  0.000003
1690765     Zeshan   M       5  2010  0.000003
1690766     Zhyier   M       5  2010  0.000003
1690767   Zildjian   M       5  2010  0.000003
1690768       Zinn   M       5  2010  0.000003
1690769     Zishan   M       5  2010  0.000003
1690770      Ziven   M       5  2010  0.000003
1690771      Zmari   M       5  2010  0.000003
1690772      Zoren   M       5  2010  0.000003
1690773     Zuhaib   M       5  2010  0.000003
1690774     Zyeire   M       5  2010  0.000003
1690775    Zygmunt   M       5  2010  0.000003
1690776   Zykerion   M       5  2010  0.000003
1690777      Zylar   M       5  2010  0.000003
1690778      Zylin   M       5  2010  0.000003
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

[1690784 rows x 5 columns]

In [20]:
#Validate prop (adds up to 1)
import numpy as np
np.allclose(names.groupby(['year', 'sex']).prop.sum(), 1)

True

In [21]:
def get_top1000(group):
    return group.sort_values(by='births', ascending=False)[:1000]
grouped = names.groupby(['year', 'sex'])
top1000 = grouped.apply(get_top1000)
top1000.index = np.arange(len(top1000))

### Top 1000 Names

In [22]:
top1000

            names sex  births  year      prop
0            Mary   F    7065  1880  0.077643
1            Anna   F    2604  1880  0.028618
2            Emma   F    2003  1880  0.022013
3       Elizabeth   F    1939  1880  0.021309
4          Minnie   F    1746  1880  0.019188
5        Margaret   F    1578  1880  0.017342
6             Ida   F    1472  1880  0.016177
7           Alice   F    1414  1880  0.015540
8          Bertha   F    1320  1880  0.014507
9           Sarah   F    1288  1880  0.014155
10          Annie   F    1258  1880  0.013825
11          Clara   F    1226  1880  0.013474
12           Ella   F    1156  1880  0.012704
13       Florence   F    1063  1880  0.011682
14           Cora   F    1045  1880  0.011484
15         Martha   F    1040  1880  0.011429
16          Laura   F    1012  1880  0.011122
17         Nellie   F     995  1880  0.010935
18          Grace   F     982  1880  0.010792
19         Carrie   F     949  1880  0.010429
20          Maude   F     858  1880  0.009429
21          Mabel   F     808  1880  0.008880
22         Bessie   F     794  1880  0.008726
23         Jennie   F     793  1880  0.008715
24       Gertrude   F     787  1880  0.008649
25          Julia   F     783  1880  0.008605
26         Hattie   F     769  1880  0.008451
27          Edith   F     768  1880  0.008440
28         Mattie   F     704  1880  0.007737
29           Rose   F     700  1880  0.007693
...           ...  ..     ...   ...       ...
261847       Yair   M     201  2010  0.000106
261848      Talan   M     201  2010  0.000106
261849      Keyon   M     201  2010  0.000106
261850       Kael   M     201  2010  0.000106
261851   Demarion   M     200  2010  0.000105
261852     Gibson   M     200  2010  0.000105
261853     Reagan   M     200  2010  0.000105
261854  Cristofer   M     199  2010  0.000105
261855     Daylen   M     199  2010  0.000105
261856     Jordon   M     199  2010  0.000105
261857    Dashawn   M     198  2010  0.000104
261858      Masen   M     198  2010  0.000104
261859      Rowen   M     197  2010  0.000104
261860     Yousef   M     197  2010  0.000104
261861   Thaddeus   M     197  2010  0.000104
261862      Kadin   M     197  2010  0.000104
261863     Dillan   M     197  2010  0.000104
261864   Clarence   M     197  2010  0.000104
261865      Slade   M     196  2010  0.000103
261866    Clinton   M     196  2010  0.000103
261867    Sheldon   M     196  2010  0.000103
261868    Keshawn   M     195  2010  0.000103
261869   Menachem   M     195  2010  0.000103
261870     Joziah   M     195  2010  0.000103
261871     Bailey   M     194  2010  0.000102
261872     Camilo   M     194  2010  0.000102
261873     Destin   M     194  2010  0.000102
261874     Jaquan   M     194  2010  0.000102
261875     Jaydan   M     194  2010  0.000102
261876     Maxton   M     193  2010  0.000102

[261877 rows x 5 columns]

### Top Boys Names

In [ ]:
boys = top1000[top1000.sex=='M']
boys

In [ ]:
def get_bottom1000(group):
    return group.sort_values(by='births', ascending=False)[1000:]
grouped = names.groupby(['year', 'sex'])
bottom1000 = grouped.apply(get_bottom1000)
bottom1000.index = np.arange(len(bottom1000))
bottom1000

### Top Girls Names

### Total Number of Births by Name and by Year

In [ ]:
girls = top1000[top1000.sex=='F']
girls

In [ ]:
total_births = top1000.pivot_table('births', index='year', columns='names', aggfunc=sum)
total_births.info()

In [ ]:
subset = total_births[['Kit', 'Amy', 'Sullivan']]
subset.plot(subplots=True, figsize=(12, 10), grid=False, title = 'Number of Births Per Year')

### Proportion of Top 1000 Most Common Names

In [ ]:
table = top1000.pivot_table('prop', index='year', columns='sex', aggfunc=sum)
table.plot(title="Sum of table1000.prop by Year and Sex", yticks=np.linspace(0, 1.2, 13), xticks=range(1880, 2020, 10))

### Number of Boys Names in Top 50% in 2010

In [ ]:
df = boys[boys.year == 2010]
prop_cumsum = df.sort_values(by='prop', ascending = False).prop.cumsum()
prop_cumsum.values.searchsorted(0.5)

### Number of Boys Names in Top 50% in 1900

In [ ]:
df = boys[boys.year == 1900]
in1900 = df.sort_values(by='prop', ascending = False).prop.cumsum()
in1900.values.searchsorted(0.5) + 1

### Number of Names in Top 50% For Each Year and Gender

In [ ]:
def get_quantile_count(group, q=0.5):
    group = group.sort_values(by='prop', ascending = False)
    return group.prop.cumsum().values.searchsorted(q) + 1
diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')
diversity.plot(title="Number of Popular Names in the Top 50%")

### Last Letter Revolution

In [ ]:
#Extract last letter from the name column
get_last_letter = lambda x: x[-1]
last_letters = names.names.map(get_last_letter)
last_letters.name = 'last_letter'
table = names.pivot_table('births', index = last_letters, columns = ['sex', 'year'], aggfunc=sum)

In [ ]:
subtable = table.reindex(columns=[1910, 1960, 2010], level='year')
subtable.head()

In [ ]:
subtable.sum()

In [ ]:
letter_prop = subtable/subtable.sum().astype(float)

In [ ]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(2,1, figsize=(10,8))
letter_prop['M'].plot(kind='bar', rot=0, ax=axes[0], title="Male")
letter_prop['F'].plot(kind = 'bar', rot=0, ax=axes[1], title="Female", legend = False)

In [ ]:
letter_prop = table/table.sum().astype(float)
dny_ts = letter_prop.ix[['d', 'n', 'y'], 'M'].T
dny_ts.head()

In [ ]:
dny_ts.plot()

### Boy Names that Became Girls Names (and Vice Versa)

In [ ]:
all_names = top1000.names.unique()
mask = np.array(['lesl' in x.lower() for x in all_names])
lesley_like = all_names[mask]
lesley_like

In [ ]:
filtered = top1000[top1000.names.isin(lesley_like)]
filtered.groupby('names').births.sum()

In [ ]:
table = filtered.pivot_table('births', index = 'year', columns = 'sex', aggfunc = 'sum')
table = table.div(table.sum(1), axis = 0)
table.tail()

In [ ]:
table.plot(style={'M': 'k-', 'F': 'k--'})